<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="{'width': player.health + '%'}" style="background-color: green; margin: 0; color: white;">
                    {{ player.health }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="{'width': enemy.health + '%'}" style="background-color: green; margin: 0; color: white;">
                    {{ enemy.health }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!isPlaying">
        <div class="small-12 columns">
            <button id="start-game" @click="startNewGame()">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="isPlaying">
        <div class="small-12 columns">
            <button id="attack" @click="attack()">ATTACK</button>
            <button id="special-attack" @click="specialAttack()">SPECIAL ATTACK</button>
            <button id="heal" @click="heal()">HEAL</button>
            <button id="give-up" @click="gameOver()">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns" v-for="event in events">
            <template v-if="event.type == 'start game'">
                <span class="small-12 columns" id="start-game">
                    Game Started
                </span>
            </template>

            <template v-else-if="event.type == 'game over'">
                <span class="small-12 columns" id="give-up">
                    Game Over
                </span>
            </template>

            <template v-else>
                <span class="small-4 columns" id="player-turn" v-if="event.character == 'Player'">
                    {{event.character}} :
                </span>
                <span class="small-4 columns" id="enemy-turn" v-else-if="event.character == 'Enemy'">
                    {{event.character}} :
                </span>

                <span class="small-8 columns" :id="event.type">
                    used {{event.type}} : {{event.value}}
                </span>
            </template>
        </div>
    </section>
</div>
</body>

<script src="app.js"></script>

</html>